body{
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 16px;
  line-height: 1.1;
  color: black;
  font-weight: 400;
  margin: 10px;
  padding: 0;
}

.h_top{
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.search_type {
  height: 37px;
  margin: 0;
}

.search_window{
  display: flex;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
}
.search_box{
  width: 515px;
}

.search_icon{
  position:absolute;
  top: 10px;
  right: 120px;
  margin: 0;
  padding: 0;
}

.search_text{
  background-color: #E3E3E3;
  width: 515px;
  height: 37px;
}

.kaitori_btn{
  background-color: #282828;
  color: white;
  height: 37px;
  margin-left: 15px;
}

ul li{
  list-style-type: none;
  p{
    margin: 0;
    padding: 0;
  }
}

.mypage {
  display: flex;
  position: absolute;
  right: 80px; /* 左端に配置 */
  top: 30px; /* 上端に配置 */
  justify-content: space-between; /* アイコンとテキストの間隔を均等に */
}

.mypage li {
  align-items: center;
  text-align: center;
  margin: 0 35px 0 50px;
}

.mypage p {
  margin-left: 0px; /* アイコンとテキストの間のスペース */
  font-size: 14px;
  color: black;
}

.h_flex{
  display: flex;
}


summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}

.js-details-content {
  transition: height 0.5s ease;
}